{% extends "base.html" %}
{% block content %}
<script type="text/javascript">  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })  
</script>



<div class="container">
  <h3 class="font-weight-bold ">Relatório de mensalidades pagas e pendentes</h3><hr/>

<br/><h4 class="font-weight-bold text-center">Cliente: {{cliente.nome|upper}}</h4>

<div >
   <a href="{% url 'listar_clientes' %}" class="float-left btn btn-warning font-weight-bold">Voltar&nbsp;&nbsp;<img src="/static/feather/chevron-left.svg" alt="voltar" class="icone"></a>


 </div>
<br/><br/><br/>
  <div class="row col-12 mx-auto">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>

          <th class="text-center">Ano</th>
          <th class="text-center">Mês</th>
          <th class="text-center">Valor</th>
          <th class="text-center">Status</th>
          <th class="text-center">Modo de pagamento</th>
        </tr>
      </thead>      

      <tbody>{% for mensalidade in mensalidades%}
        <tr>

          <td class="text-center">{{ mensalidade.ano }}</td>
          <td class="text-center">{{ mensalidade.mes }}</td>
          <td class="text-center">R$ {{ mensalidade.valor }}</td>
          <td class="text-center">
            {% if mensalidade.status == "PAGO" %}
            <span class="badge badge-success mx-auto">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ mensalidade.status }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {% else %}
            <span class="badge badge-danger">{{ mensalidade.status }}</span>
            {% endif%}
          </td>
          <td class="text-center">
            <a href="{% url 'realizar_pagamento' %}" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Pagar com cartão de crédito/débito"><img src="/static/feather/credit-card.svg" alt="credit-card" class="icone">
            </a>
            <a href="#" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Gerar boleto bancário"><img src="/static/feather/file-text.svg" alt="file-text" class="icone">
            </a>

          </td>
          {% endfor%}
        </tr>
      </tbody>
    </tbody>



  </table>
  
</div>
<br/>
</div>

</div>
</div>

{% endblock %}