{% extends "base.html" %}

{% block content %}

<div class="container">
<br/><br/>
    <div class="col-6 mx-auto card  shadow-lg p-3 mb-5 bg-white rounded">
        <h3 class="mt-2 text-body font-weight-bold">Alterar senha de acesso</h3>
        <hr style="border: 1px solid;" />
        <form method="POST">
           {% csrf_token %} 
           <label class="font-weight-bold mt-2">Senha atual&nbsp;<span class="text-danger">*</span></label>

           {{ form.old_password }}
           <label class="font-weight-bold mt-2">Nova senha&nbsp;<span class="text-danger">*</span></label>

           {{ form.new_password1 }}
           <label class="font-weight-bold mt-2">Repita a senha&nbsp;<span class="text-danger">*</span></label>

           {{ form.new_password2 }}
           <span class="text-danger">
            {{ form.old_password.errors }} 
            {{ form.new_password1.errors }} 
            {{ form.new_password2.errors }} 
        </span>

        <button class="btn btn-success btn-block font-weight-bold    mt-3" type="submit">Alterar senha
        </form>
        {% if success %}
<span class="font-weight-bold text-success">Os dados foram alterados com sucesso!</span>
{% endif%}
    </div>
</div> 





{% endblock %}