{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="col-10 mx-auto alert alert-secondary">
        <h3 class="font-weight-bold">Alterar senha</h3><hr/>
<form method="POST">
    {% csrf_token %}

<div class="row">
                     
                 <div class="col-4"></div>          
                <div class="col-4">
                    <label class="font-weight-bold mt-2">Senha atual</label>
                         
                    {{ form.old_password }}
                    

                </div>
                <div class="col-4"></div> 
                <div class="col-4"></div> 
                <div class="col-4">
                    <label class="font-weight-bold mt-2">Nova senha</label>
                    {{ form.new_password1 }}
                </div>
                <div class="col-4"></div> 
                <div class="col-4"></div> 
                <div class="col-4">
                    <label class="font-weight-bold mt-2">Repita a senha</label>
                    {{ form.new_password2 }}
                </div>
<div class="col-4"></div><div class="col-4"></div>
            
            
        
        <div class="col-4">
            <button type="submit" class="mt-3 mb-2 btn btn-warning btn-block font-weight-bold">Alterar Senha</button>
        </div>
    {% if success %}
    <span class="font-weight-bold text-success">A sua senha foi alterada com sucesso</span>
    {% endif %}
    <span class="font-weight-bold text-danger">
        {{ form.old_password.errors }}
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </span> 
    </div>
</form>
<div>

</div>
{% endblock %}