{% extends 'base.html' %}
{% block content %}

<div class="container">
<br/><br/><br/><br/>
    <div class="col-6 mx-auto card  shadow-lg p-3 mb-5 bg-white rounded">
        <h3 class="mt-2 text-body font-weight-bold">Cadastrar novo usuário</h3>
        <hr style="border: 1px solid;" />
        <form method="POST">
           {% csrf_token %} 
           <label class="font-weight-bold mt-2">Nome&nbsp;<span class="text-danger">*</span></label>

           {{ form.username }}
           <label class="font-weight-bold mt-2">E-mail&nbsp;<span class="text-danger">*</span></label>

           {{ form.email }}
           <label class="font-weight-bold mt-2">Senha&nbsp;<span class="text-danger">*</span></label>

           {{ form.password1 }}
           <label class="font-weight-bold mt-2">Repita a senha&nbsp;<span class="text-danger">*</span></label>

           {{ form.password2 }}
           <span class="text-danger">
            {{ form.username.errors }} 
            {{ form.email.errors }} 
            {{ form.password1.errors }} 
            {{ form.password2.errors }}

        </span>

        <button class="btn btn-success btn-block font-weight-bold    mt-3" type="submit">Cadastrar usuário</button>
        </form>
    </div>
</div> 






{% endblock %}