{% extends "base.html" %}
{% block content %}
<script type="text/javascript">  
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })  
</script>



<div class="container">
  <h3 class="font-weight-bold ">Relatório de avaliações</h3><hr/>


{% for avaliacao in avaliacoes%}
<span>Nota: {{ avaliacao.nota }}</span><br/>
<span>Comentário: {{ avaliacao.comentario }}</span><br/>
<span>Critério: {{ avaliacao.criterio }}</span><br/>
<span>Avaliador: {{ avaliacao.avaliador }}</span><br/>
{% endfor %}
</div>
{% endblock %}