{% extends "base.html" %}
{% block content %}
<script type="text/javascript">  
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})  
</script>


<br/><br/><br/>
<div class="container">
	<h3 class="font-weight-bold ">Lista de avaliações</h3><hr/>
	<div class="row col-12 mx-auto ">
		<span></span>
		
		<table class="table table-bordered ">
			<thead>
				<tr>

					<th class="text-center">Avaliador</th>
					<th class="text-center">Ambiente</th>
					<th class="text-center">Equipamentos</th>
					<th class="text-center">Instrutores</th>
					<th class="text-center">Atendimento</th>
					<th class="text-center">Comentário</th>
				</tr>
			</thead>      

			<tbody>
				{% for avaliacao in avaliacoes %}
				<tr>

					<td class="text-center">{{ avaliacao.avaliador|upper }}</td>
					<td class="text-center">{{ avaliacao.notaCriterio1 }}</td>
					<td class="text-center">{{ avaliacao.notaCriterio2 }}</td>
					<td class="text-center">{{ avaliacao.notaCriterio3 }}</td>
					<td class="text-center">{{ avaliacao.notaCriterio4 }}</td>
					<td class="text-center">{{ avaliacao.comentario }}</td>

				</tr>
				{% endfor%}
			</tbody>
		</tbody>



	</table>

</div>
</div>

</div>
{% endblock %}