{% extends "base.html" %}
{% block content %}


<script type="text/javascript">  
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})  
</script>
<!--

<div class="container">
	<div class="table-responsive table-bordered mx-auto card">
		<div class="card-body">
			<h3 class="font-weight-bold">Funcionários cadastrados</h3><hr/>
		
		<div class="alert alert-info mt-2" role="alert">

			<span class="font-weight-bold">Quantidade total de funcionários cadastrados: {{ total_funcionarios }}&nbsp;&nbsp;&nbsp;
			<span class="badge  badge-success">&nbsp;&nbsp;Ativos: {{funcionarios_ativos}}&nbsp;&nbsp;</span>
			<span class="badge  badge-danger">Inativos: {{ funcionarios_inativos }}</span>
		</span>

		</div>
		<table class="table table-sm table-hover table-light">				
			<thead>
				<tr>
					<th class="text-center">Info</th>					
					<th class="text-center">Matrícula</th>
					<th class="text-center">Nome</th>
					<th class="text-center">Nome de guerra</th>
					<th class="text-center">Nascimento</th>
					<th class="text-center">Data de admissão</th>
					<th class="text-center">Status</th>
				</tr>
			</thead>
			<tbody>            
				<tr >
					{% for funcionario in funcionarios %}  	
					<td class="text-center">					
						
					<a href="{% url 'dados_funcionario' id=funcionario.id %}" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informações completas"><img src="/static/feather/list.svg" alt="check-circle" class="icone">
					</a>


					</td>						                   
					<td class="text-center">{{ funcionario.id }}	</td>
					<td class="text-center">{{ funcionario.nome|upper }}	</td>
					<td class="text-center">{{ funcionario.nomeGuerra|upper }}	</td>
					<td class="text-center">{{ funcionario.nascimento|date:"d/m/Y" }}	</td>
					<td class="text-center">{{ funcionario.dataAdmissao|date:"d/m/Y" }}</td>
					<td class="text-center">
						{% if funcionario.status == "ATIVO" %}
						<a class="badge badge-success mx-auto">&nbsp;&nbsp;{{ funcionario.status }}&nbsp;&nbsp;</a>
						{% else %}
						<a class="badge badge-danger mx-auto">{{ funcionario.status }}</a>
						{% endif%}
					</td>	
				</tr>
			</tbody>{% endfor %}
		</table>
	</div>
</div>

-->
<br/><br/><br/>
<div class="container">
	<div class="row">
		
<form class="form-inline mx-auto">
  <div class="form-group mx-sm-3 ">
    <input type="text" class="form-control" name="pesquisar_funcionario" placeholder="Insira o nome">
  </div>
  <button type="submit" class="btn btn-warning font-weight-bold">Pesquisar <img src="/static/feather/search.svg" alt="search" class="icone"></button>
</form>
	</div>

</div>



 
 	<br/>
 	<div class="container">
 		<div class="row">
 			<p class="badge badge-dark">Funcionários encontrados: {{total_funcionarios}}</p>
 		</div>
 	</div>
	
	<div class="table-responsive col-md-12">
		<table class="table table-bordered  table-hover table-sm" cellspacing="0" cellpadding="0">
			<thead>
				<tr>

					<th class="text-center">Matrícula</th>
					<th class="text-center">Nome</th>
					<th class="text-center">Nome de guerra</th>
					<th class="text-center">Data de nascimento</th>
					<th class="text-center">Data de admissão</th>
					<th class="text-center">Status</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for funcionario in funcionarios %}
					<td class="text-center">{{ funcionario.id }}</td>
					<td >{{ funcionario.nome|upper }}</td>
					<td class="text-center">{{ funcionario.nomeGuerra|upper }}</td>
					<td class="text-center">{{ funcionario.nascimento|date:"d/m/Y" }}</td>
					<td class="text-center">{{ funcionario.dataAdmissao|date:"d/m/Y" }}</td>
					<td class="text-center">
						{% if funcionario.status == "ATIVO" %}
						<a class="badge badge-success mx-auto">&nbsp;&nbsp;{{ funcionario.status }}&nbsp;&nbsp;</a>
						{% else %}
						<a class="badge badge-danger mx-auto">{{ funcionario.status }}</a>
						{% endif%}
					</td>	
					<td class=" text-center actions">
						<a href="{% url 'dados_funcionario' id=funcionario.id %}" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informações completas"><img src="/static/feather/list.svg" alt="list" class="icone">
					</a>
						<a href="{% url 'editar_funcionario' pk=funcionario.pk %}" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Editar dados"><img src="/static/feather/edit.svg" alt="edit" class="icone">
					</a>
					<a href="#" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Excluir cadastro"><img src="/static/feather/trash-2.svg" alt="trash-2" class="icone">
					</a>
					</td>
				</tr>
			</tbody>{% endfor %}
		</table>
	</div>
	
	</div> 





{% endblock %}