
{% extends "base.html" %}
{% block content %}
<br/><br/><br/><br/><br/><br/>
<div class="container">
	<div class="col-8 card mx-auto alert-danger border border-danger">

	<h2 class="card-title mt-2 text-danger">ACESSO NÃO PERMITIDO!</h2><hr/>
	<p class="card-text text-danger ">Usuário não possui os privilégios de sistema necessários para acessar essa página.</p>
	<div class="col-12">
		<a class="btn mb-3 btn-block font-weight-bold btn-danger mx-auto" href="{% url 'home' %}" role="button">Retornar para página inicial</a>

	</div>
</div>
</div>


{% endblock %}