{% extends "base.html" %}
{% block content %}






<br/><br/><br/><br/>

<div class="container">
  <div class="row col-12 ">
    <div class="card mx-auto">
      <h3 class="card-title ml-2 font-weight-bold mt-2">Venha em nossa unidade mais próxima para efetuar sua matrícula!</h3>
      <div class="card-body text-center">
        <img class="img-fluid" src="/static/img/mapa.png">
      </div>
    </div>
  </div>


  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Redes sociais</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#"><img src="/static/feather/facebook.svg" alt="facebook" class="icone"> &nbsp;&nbsp;Facebook</a></li>
          <li><a class="text-muted" href="#"><img src="/static/feather/instagram.svg" alt="instagram" class="icone"> &nbsp;&nbsp;Instagram</a></li>
          <li><a class="text-muted" href="#"><img src="/static/feather/youtube.svg" alt="youtube" class="icone"> &nbsp;&nbsp;Youtube</a></li>
          <li><a class="text-muted" href="#"><img src="/static/feather/twitter.svg" alt="twitter" class="icone"> &nbsp;&nbsp;Twitter</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Fale conosco</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">academia@academia.com.br</a></li>
          <li><a class="text-muted" href="#">(086) XXXX-XXXX</a></li>
        </ul>
      </div>

    </div>
  </footer>
</div>


{% endblock %}