{% extends "base.html" %}
{% block content %}

{{ form.media }}


<script type="text/javascript">
	
function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ( (charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }

 function isNumericKey(evt)
			{
				var charCode = (evt.which) ? evt.which : evt.keyCode;
				if (charCode != 46 && charCode > 31 
				&& (charCode < 48 || charCode > 57))
				return true;
				return false;
			} 

</script>

<div class="container">
	<div class="row">
		<div class="card-body">
			<h3 class="font-weight-bold">Cadastro de novo cliente</h3><hr/>
			<div class="mx-auto">
				{{ form.non_field_errors }}
				<form method="POST">
					<div class="row">
						{% csrf_token %}
						<div class="col-6">
							
							<label class="font-weight-bold mt-2">Nome&nbsp;<span class="text-danger">*</span></label>
							{{form.nome}}
						</div>					


						<div class="col-3">
							<label class="font-weight-bold mt-2">CPF&nbsp;<span class="text-danger">*</span></label>
							{{form.cpf}}
						</div>					
						<div class="col-3">
							<label class="font-weight-bold mt-2">RG&nbsp;<span class="text-danger">*</span></label>
							{{form.rg}}
						</div>					
						<div class="col-6">
							<label class="font-weight-bold mt-2">Endereço&nbsp;<span class="text-danger">*</span></label>
							{{form.endereco}}
						</div>
						<div class="col-6">
							<label class="font-weight-bold mt-2">Complemento</label>
							{{form.complemento}}
						</div>
						<div class="col-3">
							<label class="font-weight-bold mt-2">Bairro&nbsp;<span class="text-danger">*</span></label>
							{{form.bairro}}
						</div>
						<div class="col-3">
							<label class="font-weight-bold mt-2">Cidade&nbsp;<span class="text-danger">*</span></label>
							{{form.cidade}}
						</div>
						<div class="col-1">
							<label class="font-weight-bold mt-2">UF&nbsp;<span class="text-danger">*</span></label>
							{{form.uf}}
						</div>
						
						<div class="col-5">
							<label class="font-weight-bold mt-2">E-mail</label>
							{{form.email}}
						</div>
						<div class="col-3">
							<label class="font-weight-bold mt-2">Telefone</label>
							{{form.telefone}}
						</div>
						<div class="col-3">
							<label class="font-weight-bold mt-2">Data de nascimento&nbsp;<span class="text-danger">*</span></label>
							{{form.nascimento}}
						</div>
						<div class="col-3">
							<label class="font-weight-bold mt-2">Data inicío&nbsp;<span class="text-danger">*</span></label>
							{{form.dataInicio}}
						</div>

						<div class="col-3">
							<label class="font-weight-bold mt-2">Status&nbsp;<span class="text-danger">*</span></label>
							{{form.status}}
						</div>

						<div class="caption mt-3 text-muted col-12" role="alert">
							Os campos marcados com <span class="text-danger font-weight-bold">*</span> são de preenchimento obrigatório.
						</div>

						{% if form.errors %}
						<div class="col-12 mt-3 alert alert-danger text-danger font-weight-bold">
							
								{{ form.name.errors }} 
								{{ form.cpf.errors }} 
								{{ form.rg.errors }} 
								{{ form.endereco.errors }}
								{{ form.bairro.errors }}
								{{ form.cidade.errors }}
								{{ form.uf.errors }}
								{{ form.nascimento.errors }}
								{{ form.telefone.errors }}
								{{ form.email.errors }}
								{{ form.dataInicio.errors }}
								{{ form.status.errors }}
							
						</div>
						{% endif%}

						<div>
							<button type="submit" class="mt-4 btn btn-success"><strong>Cadastrar cliente </button>
							</div>



						</form>	


					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>


{% endblock %}