{% extends "base.html" %}
{% block content %}


<script type="text/javascript">  
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})  
</script>

<div class="container">
	<div class="row">
		
<form class="form-inline mx-auto">
  <div class="form-group mx-sm-3 ">
    <input type="text" class="form-control" name="pesquisar_cliente" placeholder="Insira o nome">
  </div>
  <button type="submit" class="btn btn-warning font-weight-bold">Pesquisar <img src="/static/feather/search.svg" alt="search" class="icone"></button>
</form>
	</div>

</div>



 
 	<br/>
	
	<div class="table-responsive col-md-12">
		<table class="table table-bordered  table-hover table-sm" cellspacing="0" cellpadding="0">
			<thead>
				<tr>

					<th class="text-center">Matrícula</th>
					<th class="text-center">Nome</th>
					<th class="text-center">Data de nascimento</th>
					<th class="text-center">Data de início</th>
					<th class="text-center">Status</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					{% for cliente in clientes %}
					<td class="text-center">{{ cliente.id }}</td>
					<td >{{ cliente.nome|upper }}</td>
					<td class="text-center">{{ cliente.nascimento|date:"d/m/Y" }}</td>
					<td class="text-center">{{ cliente.dataInicio|date:"d/m/Y" }}</td>
					<td class="text-center">
						{% if cliente.status == "ATIVO" %}
						<a class="badge badge-success mx-auto">&nbsp;&nbsp;{{ cliente.status }}&nbsp;&nbsp;</a>
						{% else %}
						<a class="badge badge-danger mx-auto">{{ cliente.status }}</a>
						{% endif%}
					</td>	
					<td class=" text-center actions">
						<a href="{% url 'dados_cliente' id=cliente.id %}" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Informações completas"><img src="/static/feather/list.svg" alt="list" class="icone">
					</a>
						<a href="{% url 'editar_cliente' pk=cliente.pk %}" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Editar dados"><img src="/static/feather/edit.svg" alt="edit" class="icone">
					</a>
					<a href="#" class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="Excluir cadastro"><img src="/static/feather/trash-2.svg" alt="trash-2" class="icone">
					</a>
					</td>
				</tr>
			</tbody>{% endfor %}
		</table>
	</div>
	
	</div> 





{% endblock %}